# =========================================
# SPRING PROFILE
# =========================================
SPRING_PROFILES_ACTIVE=prod

# =========================================
# APPLICATION
# =========================================
PORT=8081

# =========================================
# POSTGRESQL
# =========================================
POSTGRES_URL=jdbc:postgresql://postgres:5432/collabrium_iam_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# =========================================
# JWT
# =========================================
JWT_SECRET=replace_with_a_real_production_secret_key_256_bits
JWT_ISSUER=collabrium
JWT_AUDIENCE=collabrium-platform

# =========================================
# EUREKA
# =========================================
EUREKA_URL=http://discovery-server:8761/eureka/

# =========================================
# RABBITMQ
# =========================================
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=collabrium
RABBIT_PASSWORD=collabrium
RABBIT_VIRTUAL_HOST=/

# =========================================
# LOGGING
# =========================================
LOG_LEVEL_ROOT=WARN
LOG_LEVEL_APP=INFO